<div data-ng-controller="UploadCtrl">
	<div flex-xs="" flex-gt-xs="50" layout="column">
		<md-card> <md-card-title> <md-card-title-text>
		<span class="md-headline">Select file and press upload Button
			(Only flac file are permitted)</span> </md-card-title-text> </md-card-title> <md-card-content>
		<form name="upload" class="form" data-ng-submit="calculate()">
			<div layout="row" layout-align="center center">
				<div layout="column" flex="none" class="border sidebar-container">
					<div layout="row" layout-align="center center" class="border">
						<md-input-container> <label>Language</label>
						<input ng-model="audio.lang"> </md-input-container>
					</div>
					<div layout="row" layout-align="center center" class="border">
						<md-input-container> <label>Sample
							Rate</label> <input ng-model="audio.samplerate"> </md-input-container>
					</div>
					<div layout="row" layout-align="center center" class="border">
						<input type="file" name="file" multiple
							onchange="angular.element(this).scope().uploadedFile(this)" />
					</div>
					<br />
					<div layout="row" layout-align="center center" class="border">
						<md-button class="md-raised" type="submit" data-ng-disabled="isLoading">Upload</md-button>
					</div>
					<div layout="row" layout-align="center center" class="border" data-ng-if="isLoading">
						<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
					</div>
				</div>
			</div>
		</form>
		</md-card-content> </md-card>
	</div>
	<div flex-xs="" flex-gt-xs="50" layout="column" data-ng-if="result != null && !isLoading">
		<md-card> <md-card-title> <md-card-title-text>
		<span class="md-headline">Results</span> </md-card-title-text> </md-card-title> <md-card-content>
		<pre>{{ result }}</pre>
		</md-card-content> </md-card>
	</div>
</div>



